################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FederatedIdentity/.vs/FederatedIdentity/v16
/FederatedIdentity/FederatedIdentity.Web/bin/Debug/netcoreapp3.1
/FederatedIdentity/FederatedIdentity.Web/obj
/FederatedIdentity/.vs/FederatedIdentity
